.navbar-light {
  background-color: white;
}
/* change the brand and text color */
.navbar-light .navbar-brand,
.navbar-light .navbar-text {
  color: white;
  background-color: #4aaaa5;
  padding: 10px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: -9px;
  margin-top: -9px;
}
/* change the link color */
.navbar-light .navbar-nav .nav-link {
  color: grey;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
}
/* change the color of active or hovered links */
.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:hover .nav-link {
  color: grey;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.navbar-nav .dropdown-menu {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: grey;
  font-size: 12px;
}

body {
  background: #ededed;
}

h1 {
  color: #4aaaa5;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
}
#main {
  color: #9ca7b2;
  background-color: #ffffff;
  margin-top: 30px;
  padding: 20px;
  margin-left: 20px;
}
p1 {
  margin-top: 20px;
  color: #778695;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 25px;
  padding: 20px;
}
.figure1 {
  width: 100px;
  height: 100px;
  margin-left: 50px;
}
.figure2 {
  width: 100px;
  height: 100px;
  margin-left: 50px;
}
.figure3 {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}
.figure4 {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}
#sticky-sidebar {
  background-color: white;
  padding: 0px;
  margin-top: 30px;
  margin-left: 20px;
}
.visualtitle {
  font-size: 20px;
  padding: 30px;
}

.small-screens {
  display: none;
}

@media (max-width: 768px) {
  .container {
    display: none;
  }
  .small-screens {
    display: block;
    background-color: white;
  }
  .description {
    padding: 50px;
  }
  .column {
    margin-left: 50px;
  }
}
